node_modules
.DS_Store
*.log
npm-debug.log*
yarn-error.log*

# Env
.env
.env.*
!.env.example

# Expo / React Native
.expo
.expo-shared
.expo-web
.expo/*.json
dist
web-build
.metro-cache

# Android
android/.gradle
android/app/build
android/build
*.iml

# iOS
ios/Pods
ios/build

# IDE
.idea
*.swp

# Project docs not to commit
instructions/
docs/
